.from-fondo{
    margin-left: 25%;
    margin-top: 6%;
    width: 50%;
    height: 900px;
    border: 1px solid rgb(104, 103, 103);
    background-color: rgb(19, 19, 19);
}


.from{
    color: white;
    margin-left: 18%;
    margin-top: 10%;
}

.int{
    width: 250%;
    height: 50px;
    border-radius: 20px;
}

.btn-servicio-cliente{
    display: flex;
    justify-content: center;
}

.btn-enviar-servicio{
   background-color: rgb(41, 226, 41);
   width: 50%;
   height: 6vh;
   border-radius: 50PX;
}




@media (max-width:1268px){
    
    .from-fondo{
        width: calc(70% - 30px)
    }
    .int{
        width: 200%;
        margin-top: 10%;
    }

    .btn-servicio-cliente{
        width: 70%;
        margin-left: 4%;
    }


}


 
@media (max-width: 768px) {
  
    .from-fondo{
        width: calc(70% - 30px);
        
    }
    .int{
        width: 200%;
        margin-top: 10%;
        margin-left: -25%;
    }

    .btn-servicio-cliente{
        margin-left: 18%;
    }
    
    .names{
      margin-left: -60px;
    }

  
}

@media (max-width:390px) {
    .from-fondo{
        width: calc(70% - 30px);
        background-color: aqua;
    }
    .int{
        width: 200%;
        margin-top: 10%;
        margin-left: -15%;
    }

    .btn-servicio-cliente{
        margin-left: -10%;
    }
    
    .names{
      margin-left: -40px;
    }
}

