.img{
    background-image: url(../IMG/FondoPaginaTickets.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 1513px;
    height: 600px; 
}

.div-contenedor{
    width: 1150px;
    height: 400px;
    background-color: white;
    margin-left: 10px;
    position: absolute;
    top:45%;
    left: 10%;
   
}

.img-animado{
    width: 400px;
}

.texto-apartado{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 40%;
    text-transform: uppercase;
    color: black;
    letter-spacing: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.letras-bienvenido{
    margin-top: 200px;
    margin-left: 500px;
}


.int-nombre{
    width: 600px;
}

.cont-nombre{
    margin-top: 80px;
    margin-left: 80px;
}

.int-apellido{
    width: 600px;
}

.cont-apellido{
    margin-left: 800px;
    margin-top: -70px;
}


.int-correo{
    width: 600px;
}

.cont-correo{
    margin-top: 60px;
    margin-left: 80px;
}

.select-servicio{
    width: 600px;
}

.cont-tipo-servicio{
    margin-left: 800px;
    margin-top: -70px;
}


.int-numero-telefono{
    width: 600px;
}

.cont-telefono{
    margin-top: 60px;
    margin-left: 80px;
}


.int-empresa{
    width: 600px;
}


.cont-empresa{
    margin-left: 800px;
    margin-top: -70px;
}

.int-descripcion{
  width: 700%;
  height: 18vh;
}

.conte-descripcion{
    position: absolute;
    top: 190%;
    left: 5.5%;
}

.footeer{
    margin-top: -820px;
}


.cont-btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 250px;
}


.btn-cancelar{
  width: 300px;
  height: 50px;
  background-color: rgb(93, 93, 96);
  color: aliceblue;
  border: none;
}

.btn-enviar{
    width: 300px;
    height: 50px;
    background-color: darkblue;
    color: aliceblue;
    border: none;
}