
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    display: flex;
    justify-content: center;
    z-index: 100; 
}

.cont-tipo-servicios {
    width: 40%;
    height: 80%;
    background-color: rgb(254, 254, 254);
    border-radius: 8px; 
    padding: 20px; 
    position: absolute;
    top: 10%;
}


.cont-nombre-tipo-servicio{
  position: absolute;
  left: 6%;
  top: 19%;
}

.int-nombre-servicio{
   position: absolute;
   left: 0%;
   width:500px;
   height: 40px;
   background-color: transparent;
   border-style: solid; 
   border-width: 1px; 
   border-color: rgb(159, 137, 137);
}

.letras-servicios{
    color: black;
}

.cont-area{
    position: absolute;
    top: 35%;
    left: 6%;
}

.int-area{
    position: absolute;
    left: 0%;
    width: 500px;
    height: 40px;
    background-color: transparent;
    border-style: solid; 
    border-width: 1px; 
    border-color: rgb(159, 137, 137);
}

.cont-descripcion{
    position: absolute;
    top: 52%;
    left: -5%;
    width: 50%;
}

.int-descripcion-servicios{
    position: absolute;
    left: 22%;
    width: 500px;
    height: 40px;
    background-color: transparent;
    border-style: solid; 
    border-width: 1px; 
    border-color: rgb(159, 137, 137);
}


.btn-servicios{
    position: relative;
    top: 399px;
    left: 0%;
    display: flex;
    justify-content: space-evenly;
   
    
}

.btn-enviar-tipo-servicio{
    width: 200px;
    height: 50px;
    background-color: darkblue;
    color: aliceblue;
    border: none;
}


.btn-cancelar-tipo-servicio{
    width: 200px;
    height: 50px;
    background-color: rgb(255, 7, 7);
    color: aliceblue;
    border: none;
}

.h5{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}