.navbar{
   display: flex;
   background-color: rgba(40, 54, 70, 1);
   padding: 10px 20px;
   color: rgb(39, 189, 200);
   height: 13%;
   width: 100%; /* Asegúrate de que el ancho sea 100% */
   position: fIxed; /* Fija el navbar en la parte superior */
   top: 0; /* Alinea el navbar en la parte superior */
   left: 0; /* Alinea el navbar a la izquierda */
   
}


.logo{
   display: flex;
   margin-top: -4%;
   width: 28%;
   
}

.container-search{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 80%;
   margin-left: 30%;
}

