.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(40, 54, 70, 1);
   padding: 10px 20px;
   color: aliceblue;
   height: 9%;
   width: 100%; /* Asegúrate de que el ancho sea 100% */
   position: fixed; /* Fija el navbar en la parte superior */
   top: 0; /* Alinea el navbar en la parte superior */
   left: 0; /* Alinea el navbar a la izquierda */
   z-index: 1000; /* Asegura que esté encima de otros elementos */
}


.logo{
   width: 10%;
   height: 170%;
}