.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    flex: 1; 
}

.fondo{
    background-image: url(https://i.imgur.com/9DVi05F.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
    width: 201.4vh;
    height: 100vh;
    filter: saturate(200%); 
}


.fondo2{
    background-color: rgba(10, 9, 9, 0.696);
    width: 201vh;
    height: 100vh;
}


.card{
    display: flex;
    justify-content: center;
    align-items: center;
}


.bton{
    display: flex;
    margin-top: -350px;
    width: 300px;
    border-radius:180px;
    background: linear-gradient(to right, rgba(0, 0, 1, 0.926) 10%, rgb(4, 4, 60) 100%, rgba(0, 0, 0, 0.128) 100%)
}

.letras-nosotros{
   color: rgb(255, 254, 254);
   font-size: large;
   margin-left: 100px;
}

.foter{
    margin-top: 15%;
}

.conte-cards-fondo{ 
    border-radius: 50px;
    height: 100vh;
    width: 100%;
    margin-top: 5%;
    background: linear-gradient(to top, rgb(2, 5, 200) 10%, rgba(3, 3, 69, 0.991) 50%, rgb(0, 0, 0) 100%);
}

.centrar-cards{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}

.fondo2-prueba{
    width:50%;
    height: 450px;
    background-image: url("https://i.imgur.com/P84L6aB.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 50px;
    
}


.container-desarrollo{
    max-width: 600px;
    padding: 20px; 
    border: none; 
    border-radius: 8px; 
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.742),  /* Sombra negra */
    0 0 20px rgb(6, 2, 60); 
    background-color: #00000049; 
    margin-left: 18%;
    margin-top: 15%;
    color: white;
}


.img-posicion{
    margin-left: 120%;
    margin-top: -25%;
    width: 70%;
}

.img-posicion:hover{
    width: 80%;
}

img:hover{
    width: 120%;
}


   
    




@media (max-width:1268px){
    .fondo{
       width: 100%;
    }
    .fondo2{
        width: 100%;
    }
}

@media (max-width:1068px){
    .fondo{
        width: 100%;
    }

    .fondo2{ 
        width: 100%;
    }
}

 
@media (max-width: 768px) {
    .fondo{
        width: 100%;
    }
    .fondo2{
        width: 100%;
     }
}