.cont-Padre-ticket{
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-bottom: 7%;
    margin-left: 20px;
    margin-top: 15px;
}


.cont-Hijo-ticket{
   display: flex;
   justify-content: space-evenly;
 
   
}

.cont-ticket{
    display: flex;
    justify-content: space-evenly;
}

.cont-ticket-datos{
   display: flex;
   justify-content: space-evenly;
}

.cont-ticket-descripcion{
    display: flex;
    justify-content: space-evenly;
}

.btn-tickets{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}


.modal-content {
    background-color: #fefefe;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}


.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}