.cont-Padre-ticket{
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    

}

.cont-Hijo-ticket{
   display: flex;
   justify-content: space-evenly;
}

.cont-ticket{
    display: flex;
    
    justify-content: space-evenly;
}

.cont-ticket-datos{
   display: flex;
  
   justify-content: space-evenly;
}

.cont-ticket-descripcion{
    display: flex;
   
    justify-content: space-evenly;
}

.btn-tickets{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

