.btn-crear-ticket{
   position: absolute;
   left: 86%;
   top: 37px;
   width: 180px;
   height: 50px;
   background-color: red;
   color: aliceblue;
}


.cont-tickets{
    background-color: rgb(207, 235, 247);
    position: relative;
    top: 180px;
    left: 18%;
    border: 1px solid rgb(207, 235, 247); /* El borde alrededor del contenedor */
    width: auto; /* El ancho se ajusta automáticamente */
    height: auto; /* La altura crece conforme a los tickets añadidos */
    max-width: 80%; /* Opcional: Limitar el ancho si es necesario */
    box-sizing: border-box; /* Incluye el padding dentro del borde */
}

.cont-nuevos{
    border: 1px solid black;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ticket-card {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.search-container-tickets {
    border: 3px solid #ccc;
    border-radius: 15px;
    width: 150%;
    position: relative;
    top: 70px;
    padding: 10px;
}
 
 
.container-logo{
   position: absolute;
   left: 60%;  
   top: -30px;
}

 
.btn-buscar-tickets{
    display: flex;
    border-radius: 10px;
    height: 50px;
    border-radius: none;
    position: relative;
    left: 120%;
    top:20px;
}
 
.icon-buscar-tickets{
    background-color: transparent;
    border:none;
}


.cont-tipo-servicios{
    width: 90%;
    height: 100%;
    background-image: url("https://i.imgur.com/6IUM1J0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 150%;
    left: 5%;
   
}

.dev-img-servicio{
    width: 100%;
    height: 100%;
    top: -50%;
    right: 80%;
    background-color: rgba(0, 0, 0, 0.818);
}

.cont-nombre-tipo-servicio{
  position: absolute;
  left: 5%;
  top: 12%;
}

.int-nombre{
   width: 30%;
   height: 40px;
}

.letras-servicios{
    color: white;
}

.cont-area{
    position: absolute;
    top: 12%;
    left: 55%;
}

.int-area{
    width: 300%;
    height: 40px;
}



.cont-descripcion{
    position: absolute;
    left:-1%;
    top: 30%;
    width: 99%;
}
.int-descripcion-servicios{
    width: 93%;
    height: 140px;
}


.btn-servicios{
    position: relative;
    top: 80%;
    left: 5%;
    display: flex;
    justify-content: space-evenly;
    
}


.card-tick{
    height: auto;
    width: auto;
    max-width: 500px;
    border-radius: 20%;
    background-color: white; 
}

.barra{
    /* border: 2px solid #000; El borde alrededor del contenedor */
    position: absolute;
    top: 80px;
    width: 100%;
    border: 1px solid  rgb(0, 0, 0);
}

.h3{
    position: absolute;
    top: 50px;
    left: 4%;
}

.foo{
    position: relative;
    top: 200px;
}